.add-plan {
  @include section-top-border-radius;
  position: relative;
  z-index: 2;
  margin-top: -40px;
  padding: 35px 0 70px;
  background-color: $bg-periwinkle;
}

.add-plan__list {
  @include list-none;
}

.add-plan__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.add-plan__title {
  margin: 0;
  color: $dark-slate-blue;
  font-size: 24px;
  line-height: 24px;
}

@include respond-above($tablet) {
  .add-plan {
    padding: 50px 0 123px;
  }

  .add-plan__container {
    padding: 0 74px;
  }

  .add-plan__wrap {
    margin-bottom: 50px;
  }

  .add-plan__title {
    font-size: 36px;
    line-height: 50px;
  }
}
