.address {
  @include section-border-radius;
  position: relative;
  z-index: 1;
  margin-top: -30px;
  padding: 87px 0 37px;
  background-color: $color-yellow;
}

.address__wrap{
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.address__list {
  @include list-none();
  margin-bottom: 32px;
}

.address__item {
  display: flex;
  align-items: center;
  color: $bg-blue-color;
  text-transform: uppercase;
}

.address__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  min-width: 45px;
  margin-right: 16px;
  background-color: $bg-icon;
  border-radius: 50%;
}

.address__icon-image{
  width: 14px;
  height: 22px;
}

.address__btn {
  display: block;
  border: 3px solid $bg-blue-color;
  padding: 18px 23px 19px;

  &:hover,
  &:focus {
    background-color: $bg-blue-color;
    color: $white;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

@include respond-above($tablet) {
  .address {
    @include section-border-radius-tablet;
    margin-top: -60px;
    padding-top: 106px;
    padding-bottom: 84px;
  }

  .address__wrap {
    padding: 0 34px;
    padding-bottom: 45px;
    justify-content: start;
  }

  .address__btn {

    width: 100%;
    padding: 24px 34px 25px;
  }

  .address__icon {
    width: 67px;
    height: 67px;
    min-width: 67px;
  }

  .address__icon-image{
    width: 21px;
    height: 31px;
  }

  .address__item {
    font-size: 28px;
    line-height: 28px;
  }
}

@include respond-above($desktop) {
  .address {
    padding-top: 114px;
    padding-bottom: 57px;
  }

  .address__wrap {
    display: flex;
    align-items: center;
    padding-left: 222px;
    padding-right: 72px;
  }

  .address__btn {
    max-width: 324px;
    width: 100%;
    padding: 24px 34px 25px;
  }

  .address__list {
    margin: 0;
  }

  .address__icon {
    width: 90px;
    height: 90px;
  }

  .address__icon-image{
    width: 28px;
    height: 43px;
  }

  .address__container{
    display: flex;
    justify-content: space-between;
  }
}
