.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: none;
  padding: 10px 21px;
  font: inherit;
  color: $dark-slate-blue;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-yellow;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;

  &::after {
    content: " ";
    position: absolute;
    right: 24px;
    top: 50%;
    width: 10px;
    height: 14px;
    background: url("../img/icons/triangle-arrow-right.svg") no-repeat center;
    transform: translateY(-50%);
    transition: opacity 0.3s;
  }

  &:hover,
  &:focus {
    background-color: $color-dark-yellow;
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

.inner-btn {
  position: relative;
  display: block;
  border-radius: 100px;
  color: $dark-blue;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    display: none;
  }
}

@include respond-above($tablet) {
  .btn {
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;

    &::after {
      right: 36px;
    }
  }

  .inner-btn {
    font-size: 20px;
    line-height: 30px;
  }
}
