.cards {
  @include list-none;
}

.cards__item {
  margin-bottom: 10px;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;

  &:last-child {
    position: relative;
    margin-bottom: 25px;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 13px;
      width: 100%;
      height: 24px;
      background-color: transparent;
      box-shadow: 0 20px 20px $bg-whisper-color;
    }
  }
}

.cards__desc {
  display: flex;
  justify-content: space-between;
  padding: 25px 26px 22px 24px;
  border-radius: 10px;
  overflow: hidden;
}

.cards__title {
  margin: 0;
  margin-bottom: 5px;
  color: $dark-blue;
  font-size: 21px;
  line-height: 21px;
}

.cards__text {
  margin: 0;
  font-weight: 500;
  line-height: 18px;
  color: rgba($text-dark-grey, 0.3);
}

.cards__counter {
  position: relative;
  margin: 0;
  color: rgba($text-dark-grey, 0.3);
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 6px;
    width: 11px;
    height: 11px;
    background: url("../img/user.svg") no-repeat center;
    opacity: 0.2;
  }
}

@include respond-above($tablet) {
  .cards {
    max-width: 618px;
    margin: 0 auto;
  }

  .cards__item {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;

    &:last-child {
      margin-bottom: 45px;
    }
  }

  .cards__image {
    width: 186px;
    object-fit: cover;
  }

  .cards__desc {
    flex-grow: 1;
    flex-direction: column;
    padding: 27px 31px 22px;
  }

  .cards__box {
    margin-bottom: 14px;
  }

  .cards__title {
    font-size: 24px;
    line-height: 24px;
  }

  .cards__text {
    font-size: 20px;
    line-height: 17px;
  }

  .cards__counter {
    padding-left: 30px;
    font-size: 20px;

    &::before {
      left: 0;
      top: 2px;
      width: 21px;
      height: 20px;
    }
  }
}

@include respond-above($desktop) {
  .cards {
    max-width: 560px;
    width: 100%;
    margin: 0;
    margin-right: 177px;
  }
}
