.contacts {
  @include list-none;
  text-align: center;

  &--menu {
    margin-bottom: 40px;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.contacts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 17px;
  border-radius: 50%;
  background-color: $bg-icon;
}

.contacts__icon-image {
  &--phone {
    width: 20px;
    height: 18px;
  }

  &--email {
    width: 18px;
    height: 13px;
  }
}

.contacts__link {
  display: block;
  vertical-align: top;
  color: $bg-blue-color;
}

@include respond-above($tablet) {
  .contacts--menu {
    padding-left: 55px;
    margin-bottom: 110px;
  }

  .contacts__icon {
    width: 67px;
    height: 67px;

    &-image--phone {
      width: 27px;
      height: 27px;
    }

    &-image--email {
      width: 27px;
      height: 19px;
    }
  }

  .contacts__link {
    font-size: 28px;
    line-height: 28px;
  }
}

@include respond-above($desktop) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .contacts__item {
    margin-right: 111px;
    margin-bottom: 10px;
  }

  .contacts__icon {
    width: 90px;
    height: 90px;
    margin-right: 33px;

    &-image--phone {
      width: 36px;
      height: 36px;
    }

    &-image--email {
      width: 36px;
      height: 26px;
    }
  }
}
