.contacts {
  position: relative;
  margin-top: -30px;
  z-index: 2;
}

.contacts__subscribe {
  background-color: #192144;
  position: relative;
  padding-top: 75px;
  padding-bottom: 23px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  z-index: 3;
}

.contacts__title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ff8d30;
  margin-bottom: 20px;
}

@media (min-width: $tablet) {
  .contacts {
    margin-top: -50px;
  }

  .contacts__title {
    font-size: 45px;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop) {
  .contacts__title {
    margin-top: 0;
  }
}

@import "subscribe";
@import "map";
