.plan-filter__input {
  position: relative;
}

.plan-filter__label {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.6px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.plan-filter__quantity {
  width: 100%;
  height: 43px;
  border-radius: 4px;
  border: solid 1px #cbced9;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 9px;

  &:hover {
    border: solid 1px #959bb2;
  }

  &:focus {
    border: solid 1px #161c35;
  }
}

.plan-filter__quantity-btn {
  position: absolute;
  border: none;
  left: 191px;
  top: 40px;
  width: 14px;
  height: 14px;
  background: url("../img/qty-plus-mobile.svg") center no-repeat;
  background-size: 14px;
  opacity: 0.2;
  cursor: pointer;

  &--minus {
    left: 16px;
    background-image: url("../img/qty-minus-mobile.svg");
  }

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.1;
  }
}

.plan-filter__units {
  position: absolute;
  right: 0;
  top: -16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.6px;
  text-align: right;
  color: rgba(29, 46, 91, 0.3);
}

.plan-filter__label-checkbox {
  position: relative;
  padding-left: 39px;
  margin-bottom: 23px;
  margin-top: 3px;
  display: block;
}

.plan-filter__label-checkbox input[type="checkbox"] + .plan-filter__checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: solid 1px #cbced9;
  background-color: #ffffff;
}

.plan-filter__label-checkbox input[type="checkbox"]:checked + .plan-filter__checkbox-indicator {
  background-image: url("../img/tick.svg");
  background-size: 9px 9px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.plan-filter__label-checkbox:hover {
  color: rgba(68, 68, 68, 0.6);

  input[type="checkbox"] + .plan-filter__checkbox-indicator {
    border: solid 1px #959bb2;
  }
}

.plan-filter__label-checkbox:active {
  color: rgba(68, 68, 68, 0.3);

  input[type="checkbox"] + .plan-filter__checkbox-indicator {
    border: none;
    background-color: #e2e5f1;
  }
}

.plan-filter__label-checkbox input[type="checkbox"]:focus + .plan-filter__checkbox-indicator {
  outline: 5px auto -webkit-focus-ring-color;
}

.month-list {
  list-style: none;
  padding: 10px 0 9px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #cbced9;
  border-bottom: solid 1px #cbced9;
}

.month-list__name {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #1d2e5b;
}

.month-list__btn {
  width: 9px;
  height: 18px;
  background: url("../img/month-arrow-left.svg") center no-repeat;
  background-size: 9px 18px;
  border: none;
  opacity: 0.3;

  &--forward {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.plan-table {
  border-collapse: collapse;
  margin-top: 19px;
}

.plan-table__head-desktop,
.plan-table__cell-desktop {
  display: none;
}

.plan-table__day {
  text-transform: uppercase;
  color: #444444;
}

.plan-table__head--weekend .plan-table__day {
  color: #ff5c23;
}

.plan-table__head {
  height: 28px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.plan-table__cell {
  padding: 0;
  width: 32px;
  height: 31px;
  border: solid 1px #cbced9;

  &--current {
    .plan-table__link {
      border: solid 1px #ff5c23;
      outline: solid 1px #ff5c23;
    }
  }

  &--mark {
    background-color: #1d2e5b;

    &:hover {
      .plan-table__link {
        border: solid 1px #ff5c23;
        outline: solid 1px #ff5c23;
      }
    }

    .plan-table__link {
      color: #ffffff;
    }
  }

  &--active {
    .plan-table__link {
      background-color: #edeff6;
    }

    &:hover {
      .plan-table__link {
        border: solid 1px #ff5c23;
        outline: solid 1px #ff5c23;
      }
    }
  }

  &--disabled {
    .plan-table__link {
      color: rgba(68, 68, 68, 0.3);
      cursor: default;
    }
  }
}

.plan-table__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: #444444;
  border: solid 1px transparent;
}

@media (min-width: $tablet) {
  .plan-filter__item--date {
    .plan-filter__head {
      order: 1;
      margin-bottom: 36px;
      width: 400px;
    }

    .plan-filter__wrapper {
      display: flex;
      flex-direction: column;
    }

    .plan-filter__text {
      order: 2;
      line-height: 1.2;
      margin-bottom: 39px;
    }

    .plan-filter__btn {
      order: 8;
    }
  }

  .plan-filter__input {
    font-size: 20px;
    padding-top: 22px;
    border-top: solid 1px #cbced9;

    &--quantity {
      order: 3;
    }

    &--duration {
      order: 5;
    }
  }

  .plan-filter__quantity {
    height: 70px;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .plan-filter__quantity-btn {
    left: 491px;
    top: 92px;
    width: 20px;
    height: 20px;
    background: url("../img/qty-plus-mobile.svg") center no-repeat;
    background-size: 20px;

    &--minus {
      left: 23px;
      background-image: url("../img/qty-minus-mobile.svg");
      background-size: 20px;
    }
  }

  .plan-filter__units {
    top: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }


  .plan-filter__label-checkbox {
    order: 4;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1d2e5b;
    padding-left: 59px;
    margin-bottom: 35px;
    margin-top: 9px;
  }

  .plan-filter__label-checkbox input[type="checkbox"] + .plan-filter__checkbox-indicator {
    top: -10px;
    width: 36px;
    height: 36px;
  }

  .plan-filter__label-checkbox input[type="checkbox"]:checked + .plan-filter__checkbox-indicator {
    background-size: 12px 12px;
  }

  .month-list {
    order: 6;
    padding: 25px 16px 20px;
    margin-bottom: 11px;
    margin-top: 34px;
  }

  .month-list__name {
    font-size: 36px;
  }

  .month-list__btn {
    width: 21px;
    height: 35px;
    background-size: 18px 40px;
  }

  .plan-table {
    order: 7;
  }

  .plan-table__head-desktop {
    display: block;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1.8px;
  }

  .plan-table__head-mobile {
    display: none;
  }


  .plan-table__day {
    text-transform: none;
    font-size: 18px;
  }

  .plan-table__cell {
    width: 77px;
    height: 69px;

    &--current {
      .plan-table__link {
        border: solid 2px #ff5c23;
        outline: solid 2px #ff5c23;
      }
    }

    &--mark {
      background-color: #1d2e5b;

      &:hover {
        .plan-table__link {
          border: solid 2px #ff5c23;
          outline: solid 2px #ff5c23;
        }
      }
    }

    &--active {
      &:hover {
        .plan-table__link {
          border: solid 2px #ff5c23;
          outline: solid 2px #ff5c23;
        }
      }
    }
  }

  .plan-table__link {
    font-size: 20px;
    font-weight: 500;
    border: solid 2px transparent;
  }
}

@media (min-width: $desktop) {
  .plan-filter__item--date {
    .plan-filter__head {
      width: 500px;
    }

    .plan-filter__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .plan-filter__wrapper {
    position: relative;

    .plan-filter__text {
      width: 100%;
      border-bottom: solid 1px #cbced9;
      padding-bottom: 56px;
      padding-right: 420px;
      margin-bottom: 30px;
    }

    .plan-filter__input {
      width: 480px;
      padding-top: 0;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
    }
  }

  .plan-filter__quantity {
    width: 181px;
    margin: 0 0 0 auto;
  }

  .plan-filter__quantity-btn {
    left: 361px;
    top: 25px;

    &--minus {
      left: 240px;
    }
  }

  .plan-filter__units {
    position: static;
    text-align: left;
    color: #1d2e5b;
    width: 80px;
    padding-left: 36px;
  }

  .plan-filter__label-checkbox {
    order: 4;
    padding-left: 57px;
    margin: 25px -2px 0 auto;
  }

  .month-list {
    width: 100%;
    order: 6;
    padding: 25px 0 16px;
    margin-bottom: 0;
    margin-top: 16px;
  }

  .month-list__btn {
    width: 18px;
    height: 40px;
  }

  .plan-table {
    order: 7;
    margin-top: 9px;
  }

  .plan-table__head {
    height: 46px;
    padding-left: 16px;
    text-align: left;
    vertical-align: top;
  }

  .plan-table__cell-desktop {
    display: block;
  }

  .plan-table__day {
    text-transform: none;
    font-size: 18px;
  }

  .plan-table__cell {
    width: 143px;
    height: 71px;
  }

  .plan-table__link {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: normal;
    padding-top: 6px;
    padding-left: 14px;
  }

  .plan-table__cell-desktop--period {
    display: block;
    width: 100%;
    margin-top: -6px;
  }
}
