.directions {
  @include section-border-radius;
  position: relative;
  z-index: 5;
  padding: 68px 0 33px;
  background-color: $bg-whisper-color;
}

.directions__text-wrap {
  padding-left: 24px;
}

.directions__title {
  @include h2-heading;
  margin-bottom: 18px;
}

.directions__text {
  width: 200px;
  margin: 0;
  margin-bottom: 60px;
  font-weight: 300;
}

.directions__wrap {
  position: relative;
  padding-bottom: 70px;
}

.directions__btn {
  position: absolute;
  display: block;
  padding: 24px;
  bottom: 0;
  left: 0;
  right: 0;
}

@include respond-above($tablet) {
  .directions {
    @include section-border-radius-tablet;
    padding-bottom: 88px;
  }

  .directions__container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 10px;
      right: 0;
      width: 289px;
      height: 575px;
      background: url("../img/flags-back@1x.png") no-repeat center;
    }
  }

  .directions__title {
    @include h2-heading-tablet;
    margin-bottom: 47px;
  }

  .directions__text {
    @include text-size-tablet;
    width: 340px;
  }

  .directions__btn {
    max-width: 618px;
    margin: 0 auto;
    padding: 28px 34px 29px;
  }
}

@include respond-above($desktop) {
  .directions {
    margin-top: -60px;
    padding: 220px 0;
  }

  .directions__container::after {
    right: 60px;
  }

  .directions__wrap {
    display: flex;
    flex-wrap: wrap;
    padding-left: 72px;
    padding-right: 170px;
  }

  .directions__text-wrap {
    padding-left: 0;
  }

  .directions__text {
    margin-bottom: 95px;
  }

  .directions__cards {
    order: -1;
  }

  .directions__btn {
    position: absolute;
    bottom: 35px;
    right: 294px;
    width: 274px;
    margin: 0;
    position: relative;
  }
}
