.directions {
  position: relative;
  padding-top: 71px;
  padding-bottom: 32px;
  background-color: #e8eaf2;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -30px;
  z-index: 5;
}

.directions__text-wrapper {
  padding-left: 26px;
  padding-right: 50px;
  padding-top: 5px;
  margin-bottom: 63px;
}

.directions__title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ff8d30;
  margin-bottom: 19px;
}

.directions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directions__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.directions__image {
  display: block;
  border-radius: 10px;
}

.directions__item-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  background: #ffffff;
  padding: 26px 24px 25px 24px;
  margin-top: -11px;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 24px;
    background-image: url("../img/thailand50.png");
    top: -12px;
  }

  &--france::before {
    background-image: url("../img/france50.png");
  }

  &--czech::before {
    background-image: url("../img/czech50.png");
  }
}

.directions__name {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #161c35;
  margin-right: auto;
}

.directions__tagline {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: rgba(68, 68, 68, 0.3);
  width: 100%;
  margin: 0;
}

.directions__people {
  position: relative;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: right;
  color: rgba(68, 68, 68, 0.3);
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 11px;
    height: 11px;
    opacity: 0.1;
    background: url("../img/user.svg") center no-repeat;
    background-size: 11px 11px;
  }
}

.directions__to-all {
  position: relative;
  border-radius: 10px;
  text-transform: none;
  padding: 15px 24px;
  font-size: 18px;
  margin-top: 25px;
  justify-content: flex-start;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 23px;
    background: url("../img/triangle-arrow-right.svg") center no-repeat;
    width: 10px;
    height: 14px;
  }
}

@media (min-width: $tablet) {
  .directions {
    padding: 70px 75px 80px;
    background: #e8eaf2 url("../img/flags-back@1x.png") 439px 130px no-repeat;
    background-size: 289px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-top: -50px;

    &::before {
      content: "";
      position: absolute;
      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: #e2e5f2;
      top: 457px;
      left: 40px;
      z-index: -1;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .directions__title {
    font-size: 45px;
    padding-left: 0;
    margin-top: 51px;
  }

  .directions__text-wrapper {
    padding: 0;
    margin-bottom: 107px;
  }

  .directions__text {
    width: 340px;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: normal;
    padding-left: 0;
    margin-top: 58px;
  }

  .directions__item {
    display: flex;
    margin-bottom: 10px;
  }

  .directions__picture {
    order: 2;
  }

  .directions__image {
    border-radius: 0 20px 20px 0;
    width: 186px;
  }

  .directions__item-wrapper {
    padding-left: 32px;
    padding-top: 30px;
    padding-bottom: 19px;
    flex-grow: 1;
    margin-top: 0;
    border-radius: 20px 0 0 20px;

    &::before {
      width: 70px;
      height: 47px;
      background-image: url("../img/thailand.png");
      top: 15px;
      right: -37px;
    }

    &--france::before {
      background-image: url("../img/france.png");
    }

    &--czech::before {
      background-image: url("../img/czech.png");
    }
  }


  .directions__name {
    font-size: 24px;
  }

  .directions__people {
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
    order: 3;
    margin-top: 17px;

    &::before {
      top: 7px;
      width: 21px;
      height: 20px;
      background-size: 21px 20px;
    }
  }

  .directions__tagline {
    margin-top: 0;
    font-size: 20px;
  }

  .directions__to-all {
    width: 100%;
    font-size: 24px;
    margin-top: 47px;
    border-radius: 20px;
    padding: 20px 34px;
    height: 81px;

    &::before {
      top: 34px;
      right: 33px;
    }
  }
}

@media (min-width: $desktop) {
  .directions {
    position: relative;
    padding: 211px 130px 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: 1091px 138px;

    &::before {
      top: 140px;
      left: 59px;
    }
  }

  .directions__list {
    width: 560px;
    order: -1;
  }

  .directions__item-wrapper {
    padding-top: 23px;
    padding-left: 32px;

    &::before {
      top: 22px;
    }
  }

  .directions__picture {
    flex-shrink: 0;
  }

  .directions__text-wrapper {
    width: 447px;
    position: relative;
    padding: 0;
  }

  .directions__title {
    margin-top: 3px;
  }

  .directions__to-all {
    width: 274px;
    height: 81px;
    margin-left: auto;
    margin-right: 171px;
    margin-top: -70px;
  }
}
