.footer {
  position: relative;
  padding: 38px 26px 14px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #ffffff;
  margin-top: -27px;
  z-index: 5;
}

.footer__logo-image {
  display: block;
  margin: 0 auto;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #444444;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright-image {
  width: 27px;
  height: 34px;
}

.footer__social {
  margin-top: 38px;
  margin-bottom: 37px;
}

.footer__copyright-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  padding-top: 4px;
}

@media (min-width: $tablet) {
  .footer {
    padding: 46px 41px 50px 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }

  .footer__logo-image {
    width: 166px;
    height: 42px;
    margin: 0;
  }

  .footer__social {
    margin: 0 0 0 -15px;
  }

  .footer__copyright {
    width: 155px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copyright-text {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .footer {
    padding: 46px 59px 46px 61px;
    margin-top: -60px;
  }

  .footer__logo-image {
    width: 200px;
    height: 52px;
  }
}

@import "footer-social";
