.footer {
  position: relative;
  z-index: 2;
  margin-top: -30px;
  padding: 68px 0 14px;
  text-align: center;
  background-color: $white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.footer__logo {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
}

@include respond-above($tablet) {
  .footer {
    margin-top: -60px;
    padding-bottom: 46px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .footer__container {
    display: flex;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 0;

    &-image {
      width: 166px;
      height: 42px;
    }
  }
}

@include respond-above($desktop) {
  .footer__logo-image {
    width: 200px;
    height: 52px;
  }
}
