.header {
  background-color: #161c36;
  padding-top: 27px;
  padding-bottom: 27px;

  .site-list,
  .main-nav__tel,
  .main-nav__email,
  .header__social {
    display: none;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 100%;
}

.header__toggle {
  position: relative;
  width: 25px;
  height: 19px;
  border: none;
  opacity: 1;
  background: none;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -1px;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff;
  }
}

.header--open {
  background-color: #ffffff;

  .header__toggle {
    background: url("../img/close.svg") center no-repeat;
    background-size: 19px 19px;
    opacity: 0.5;

    &::before {
      display: none;
    }
  }
}

.header__social {
  order: 3;
  width: 135px;
  margin: 44px auto;
  opacity: 0.3;
}

.header-social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header-social__link {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: url("../img/facebook.svg") center no-repeat;
  background-size: 11px 21px;

  &--vkontakte {
    background-image: url("../img/vk.svg");
    background-size: 23px 12px;
  }

  &--instagram {
    background-image: url("../img/instagram.svg");
    background-size: 18px 18px;
  }
}

.header--scroll {
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -160px;
  background-color: #ffffff;
  animation: showElement;
  animation-duration: 1s;
  z-index: 10;

  .header__toggle {
    &::before {
      background-color: #cccccc;
      box-shadow: 0 8px 0 0 #cccccc;
    }
  }

  & ~ .main .intro {
    margin-top: 79px;
  }

  & ~ .main .main__head {
    margin-top: 79px;
  }
}

@keyframes showElement {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@media (min-width: $tablet) {
  .header {
    position: relative;
    background-color: #182044;
    padding-top: 45px;
  }

  .inner-page {
    background-color: #161c35;
  }

  .header--open {
    background-color: #ffffff;
  }

  .header--no-js .header__toggle {
    display: none;
  }

  .header__logo-image {
    width: 166px;
    height: 42px;
  }

  .header__wrapper {
    width: 357px;
    align-items: center;
  }

  .header-social {
    margin-left: 50px;
  }

  .header-social__link {
    width: 60px;
    height: 60px;
    background-size: 14px 28px;

    &--vkontakte {
      background-size: 31px 16px;
    }

    &--instagram {
      background-size: 24px 24px;
    }
  }

  .header--scroll {
    position: fixed;
    background-color: #ffffff;
    margin-left: (-768px / 2);
    padding-bottom: 39px;

    & ~ .main .intro {
      margin-top: 120px;
    }

    & ~ .main .main__head {
      margin-top: 120px;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    background: #161c34;
    display: flex;
    min-height: 90px;
    align-items: center;
    padding-top: 48px;
  }

  .header__wrapper {
    position: relative;
    width: 340px;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      border-radius: 1px;
      background-color: #ffffff;
      top: 27px;
      right: 39px;
    }
  }

  .header__logo-image {
    width: 200px;
    height: 52px;
  }

  .header__toggle {
    display: none;
  }

  .header--scroll {
    background-color: #ffffff;
    margin-left: (-1440px / 2);
    padding: 20px 60px 13px;

    .header__wrapper::before {
      background-color: #192144;
    }

    .site-list__link {
      color: #192144;
    }

    .user-list {
      top: 20px;
    }

    & ~ .main .intro {
      margin-top: 110px;
    }

    & ~ .main .main__head {
      margin-top: 131px;
    }
  }
}

@import "user-list";
@import "main-nav";
@import "site-list";
