.info {
  @include list-none;
  position: relative;
  display: flex;
  z-index: 3;
}

.info__link {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s;

  &:active img {
    opacity: 0.3;
  }

  &--phone {
    line-height: 46px;
    background-color: $color-orange;

    &:hover,
    &:focus {
      background-color: $color-dark-orange;
    }
  }

  &--mail {
    background-color: $color-dark-yellow;

    &:hover,
    &:focus {
      background-color: $color-orange;
    }
  }
}

@include respond-above($tablet) {
  .info {
    position: absolute;
    z-index: 3;
    top: 44px;
    right: 5%;
  }
}

@include respond-between($tablet, $desktop) {
  .info__item:not(:last-child) {
    display: none;
  }
}


@include respond-above($desktop) {
  .info {
    top: -65px;
  }
}

@include respond-above($tablet) {
  .info--catalog {
    position: absolute;
    z-index: 3;
    top: 44px;
    right: 5%;
  }
}

@include respond-between($tablet, $desktop) {
  .info__item:not(:last-child) {
    display: none;
  }
}

@include respond-above($desktop) {
  .info--catalog {
    top: 0;
  }
}
