.map {
  margin-top: -30px;
  height: 546px;
  background-color: #eae6dd;
}

@include respond-above($tablet) {
  .map {
    margin-top: -60px;
    height: 583px;
  }
}

@include respond-above($desktop) {
  .map {
    height: 517px;
  }
}
