.menu {
  @include list-none;
  margin-bottom: 50px;
  text-align: center;
}

.menu__item {
  overflow: hidden;
}

.menu__link {
  color: $dark-blue;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;

  &:hover {
    color: $color-yellow;
  }

  &:active {
    color: rgba($color-yellow, 0.3);
  }
}

.menu__link-text {
  position: relative;
  display: inline-block;
  transition: transform 0.5s;

  &::after {
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate3d(0, 0, 0);
  }
}

.menu__link:hover .menu__link-text {
  transform: translateY(-100%);
}

@include respond-above($tablet) {
  .menu {
    padding-left: 60px;
    margin-bottom: 128px;
    text-align: left;
  }

  .menu__link {
    font-size: 60px;
    line-height: 71px;
  }
}

@include respond-above($desktop) {
  .menu {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      left: -105px;
      top: 50%;
      width: 60px;
      height: 2px;
      background-color: $white;
      transform: translateY(-50%);
    }
  }

  .menu__item:not(:last-child) {
    margin-right: 36px;
  }

  .menu__link {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }
}
