.offer {
  padding: 15px 0 110px;
  background-color: $dark-blue;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 150px, center -75px;
  color: $white;
}

.offer__title {
  margin: 0;
  margin-bottom: 250px;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
}

.offer__image {
  margin-left: 35px;
}

.offer__quote {
  position: relative;
  z-index: 2;
  margin: 0;
  margin-top: -20px;
  padding-top: 20px;
  padding-left: 24px;
  background-color: $dark-blue;
}

.offer__text {
  max-width: 180px;
  margin: 0;
  margin-top: 27px;
  font-weight: 300;
}

.offer__author {
  display: block;
  max-width: 180px;
  margin-top: 20px;
  font-weight: 700;
  font-style: normal;
}

@include respond-above($tablet) {
  .offer {
    padding-bottom: 350px;
    background-color: $tablet-bg-dark-blue;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 70% 65%, 50% 107%;
  }

  .offer__title {
    max-width: 395px;
    margin: 0 auto 50px;
    font-size: 60px;
    line-height: 70px;
  }

  .offer__quote {
    background-color: transparent;
    padding-left: 34px;
  }

  .offer__text {
    max-width: 260px;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
  }

  .offer__author {
    max-width: 260px;
    font-size: 21px;
    line-height: 25px;
  }
}

@include respond-above($desktop) {
  .offer {
    @include section-border-radius-tablet;
    position: relative;
    z-index: 7;
    padding-top: 100px;
    padding-bottom: 322px;
    background-color: $bg-blue-color;
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 60% 65%, 47% 87%;
  }

  .offer__container {
    display: flex;
    justify-content: space-between;
  }

  .offer__title {
    margin: 0;
    margin-left: 70px;
  }

  .offer__quote {
    padding: 0;
    margin-right: 29px;
  }
}
