.options {
  background-color: #192144;
  height: auto;
  position: relative;
  z-index: 7;
}

.options__list {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #161c35;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.options__item {
  position: relative;
  min-height: 160px;
  background-color: #ff8d30;
  margin-top: -80px;
  border-radius: 10px;
  padding-top: 21px;
  padding-left: 25px;
  padding-right: 85px;
  box-sizing: border-box;

  &--2 {
    background-color: #ffa530;
  }

  &--3 {
    background-color: #ffbd30;
  }

  &--4 {
    background-color: #ffd74b;
    min-height: 80px;
  }
}

.options__item-number {
  position: absolute;
  top: 21px;
  right: 20px;
  color: #ffffff;
}

@media (min-width: $tablet) {
  .options {
    background: none;
  }

  .options__list {
    margin-top: -260px;
    flex-direction: row;
    font-size: 24px;
  }

  .options__item {
    width: 688px;
    min-height: 140px;
    margin-top: 0;
    padding: 29px 410px 20px 33px;
    border-radius: 20px;

    &--2,
    &--4 {
      width: 344px;
      margin-left: -344px;
      padding-right: 70px;
    }

    &--1,
    &--2 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--3,
    &--4 {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .options__item-number {
    top: 87px;
    right: auto;
    font-size: 30px;
  }
}

@media (min-width: $desktop) {
  .options {
    margin-bottom: 25px;
  }

  .options__list {
    margin-top: -230px;
  }

  .options__item {
    border-radius: 20px;
    min-height: 107px;
    padding-top: 27px;
    padding-left: 32px;

    &--1 {
      width: 1320px;
      padding-right: 1065px;
    }

    &--2 {
      width: 1005px;
      margin-left: -1005px;
      padding-right: 700px;

      .options__item-number {
        left: 299px;
      }
    }

    &--3 {
      width: 660px;
      margin-left: -660px;
      padding-right: 375px;

      .options__item-number {
        left: 299px;
      }
    }

    &--4 {
      width: 315px;
      margin-left: -315px;
      padding-right: 60px;
    }
  }

  .options__item-number {
    top: 28px;
    left: 269px;
    font-size: 24px;
  }
}
