.profile {
  padding: 24px 0 28px;
  display: flex;
  flex-wrap: wrap;
}

.profile__level {
  position: static;
}

.profile__photo-wrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: 17px;
}

.profile__btn {
  width: 100%;
  margin: 18px 0 33px;
  padding: 5px 0;
  color: $dark-blue;
  font-size: 17px;
  line-height: 30px;
  background-color: $bg-light-periwinkle;
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:focus {
    background-color: $bg-periwinkle;
  }

  &:active {
    color: rgba($dark-blue, 0.3);
  }
}

.profile__wrap {
  position: relative;
  width: 100%;
  margin-bottom: 25px;

  &--transp {
    margin-bottom: 0;
    border: solid 1px $border-ghost-color;
    border-radius: 10px;
  }
}

.profile__label {
  position: absolute;
  left: 50%;
  top: -9px;
  margin: 0;
  padding: 0 16px;
  color: $dark-slate-blue;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $bg-whisper-color;
  transform: translateX(-50%);

  &--transp {
    top: -11px;
  }
}

.profile__tags {
  width: 100%;
  border: solid 1px $border-ghost-color;
  padding: 21px 33px 22px 26px;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text-dark-grey;
  background-color: transparent;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
  transition: border 0.3s;

  &::placeholder {
    color: rgba($text-dark-grey, 0.6);
  }

  &:hover,
  &:focus {
    border: 1px solid $border-textarea;
  }
}

@include respond-above($tablet) {
  .profile {
    padding: 64px 34px 60px;
    justify-content: space-between;
  }

  .profile__wrap--transp {
    order: 2;
    width: 50%;
  }

  .profile__photo-wrap {
    order: 3;
    width: 94px;
    height: 94px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px;
  }

  .profile__label {
    padding: 0 20px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: 500;

    &--transp {
      top: auto;
      bottom: -9px;
    }

    &--tags {
      top: auto;
      bottom: -3px;
    }
  }

  .profile__btn {
    order: 4;
    margin: 52px 0 51px;
    padding: 21px 0 23px;
    font-weight: 500;
    border-radius: 10px;
  }

  .profile__wrap--tags {
    order: 5;
  }

  .profile__tags {
    padding: 30px 40px 14px;
    font-size: 20px;
    line-height: 24px;
  }
}
