.rates-popup {
  display: none;
  position: absolute;
  left: 25px;
  top: 20px;
  max-width: 270px;
  width: 100%;
  padding: 27px 0 0;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
}

.rates-popup.popup-show {
  display: block;
}

.rates-popup__title {
  @include h2-heading;
  margin-bottom: 25px;
  text-align: center;
}

.rates-popup__list {
  @include list-none;
  padding: 0 25px;
}

.rates-popup__item {
  padding: 12px 0 11px;
  border-bottom: 1px solid $border-pale-gray-color;
  font-weight: 300;

  &:first-child {
    border-top: 1px solid $border-pale-gray-color;
  }

  &:last-child {
    margin-bottom: 32px;
  }
}

.rates-popup__text {
  margin: 0;
}

.rates-popup__btn {
  display: block;
  width: 100%;
  padding: 19px 0;
  border: none;
  font: inherit;
  color: $dark-slate-blue;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $bg-light-whisper;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:focus {
    background-color: $bg-whisper-color;
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);
  }
}

@include respond-above($tablet) {
  .rates-popup {
    max-width: 688px;
    top: 110%;
  }

  .rates-popup__title {
    @include h2-heading-tablet;
    margin-bottom: 35px;
  }

  .rates-popup__list {
    margin-bottom: 50px;
    padding: 0 92px;
  }

  .rates-popup__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 22px;
    line-height: 28px;
  }

  .rates-popup__btn {
    padding: 37px 0 39px;
    font-size: 24px;
    text-transform: unset;
  }
}

@include respond-above($desktop) {
  .rates-popup {
    max-width: 750px;
    top: 50%;
    left: 50%;
    padding-top: 47px;
    transform: translate(-50%, -50%);
  }

  .rates-popup__title {
    margin-bottom: 40px;
  }

  .rates-popup__list {
    padding: 0 60px;
  }
}
