.roster {
  padding: 30px 0 26px;
}

.roster__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.roster__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 12px 18px 22px;
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }
}

.companion__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.companion__item-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.companion__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.companion__name {
  position: relative;
  display: block;
  width: 77px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #1d2e5b;
  margin-left: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f97676;
    top: 10px;
    right: -66px;
  }

  &:hover {
    color: rgba(29, 46, 91, 0.7);

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    &::before {
      opacity: 0.3;
    }
  }
}

.companion__name--online::before {
  background-color: #81e31e;
}

.companion__likes {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #161c35;
  margin-top: -28px;
  margin-bottom: 16px;
  margin-left: 87px;
}

.companion__likes-box {
  position: absolute;
  top: -6px;
  left: -38px;
  background-color: #edeff6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;

  &:hover {
    background-color: #e2e5f2;

    .companion__likes-image {
      opacity: 1;
    }
  }

  &:active {
    background-color: #e2e5f2;

    .companion__likes-image {
      opacity: 1;
    }
  }

  &--active {
    background-color: #f9eaea;

    .companion__likes-image {
      opacity: 1;
    }

    &:hover {
      background-color: #f9d8d8;
    }

    &:active {
      background-color: #f9d8d8;

      .companion__likes-image {
        opacity: 0.3;
      }
    }
  }
}

.companion__likes-image {
  width: 13px;
  height: 11px;
  opacity: 0.6;
}

.country {
  list-style: none;
  padding: 0 0 0 7px;
  width: 100%;
  margin: 12px 0;

  &--demin {
    margin-bottom: 17px;
  }

  &--smolov {
    margin-bottom: 15px;
  }

  &--rogovaya {
    margin-bottom: 17px;
  }
}

.companion__hashtag {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  padding-right: 50px;
  padding-left: 7px;
  margin-top: 0;
  margin-bottom: 14px;
}

.companion__text {
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
  text-align: left;
  padding-left: 8px;
  margin-top: 0;
  margin-bottom: 0;

  &--level {
    margin-bottom: 9px;
    padding-left: 0;
  }

  &--transport {
    margin-bottom: 16px;
  }
}

.country__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.country__image {
  width: 26px;
  height: 18px;
}

.country__name {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: #1d2e5b;
  text-transform: uppercase;
  margin-left: 14px;
  padding-top: 5px;
}

.companion__ways {
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.roster .ways__item {
  position: relative;
  width: 33px;
  height: 32px;
  margin: 0;
  border-radius: 50%;
  background: #edeff6;
  display: flex;

  &--active .ways__image {
    opacity: 1;
  }
}

.roster .ways__image {
  margin: auto;
  opacity: 0.3;

  &--air {
    width: 14px;
    height: 16px;
  }

  &--bus {
    width: 13px;
    height: 16px;
  }

  &--bicycle {
    width: 19px;
    height: 17px;
  }

  &--foot {
    width: 15px;
    height: 17px;
  }
}

.companion__wrapper--level {
  margin-left: auto;
}

.companion__progressbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  z-index: 99;
}

.companion__stroke {
  position: absolute;
  transform: rotate(-90deg);
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
}

.companion__status-number {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #1d2e5b;
}

.companion__status-lvl {
  display: none;
}

.companion__btn {
  width: 230px;
  margin-top: 15px;
  padding: 5px;
}

.roster__btn {
  position: relative;
  width: 100%;
  background: none;
  margin-top: 9px;
  padding-left: 33px;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 15px;
    left: 60px;
    background: url("../img/show-more-plus.svg") no-repeat center center;
    background-size: 18px 18px;
  }

  &:hover {
    background: none;
    color: rgba(29, 46, 91, 0.6);

    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    &::before {
      opacity: 0.3;
    }
  }
}

.roster__pagination {
  position: relative;
  display: flex;
  padding: 20px 58px;
  list-style: none;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 48px;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #edeff6;
    top: 0;
    left: 50%;
    margin-left: -1px;
  }
}

.pagination__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__button-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__button {
  display: block;
  width: 20px;
  height: 10px;
  background: url("../img/dropdown.svg") center no-repeat;
  transform: rotate(90deg);

  &--forward {
    transform: rotate(-90deg);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .wrapper {
    padding-bottom: 33px;
  }

  .roster {
    padding: 40px 0;
  }

  .roster__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .roster__item {
    position: relative;
    flex-direction: row;
    padding: 32px 26px 8px 27px;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #edeff6;
      bottom: 76px;
      left: 0;
      z-index: 0;
    }
  }

  .companion__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
  }

  .companion__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    margin-left: auto;
    width: auto;
  }

  .companion__image {
    width: 190px;
    height: 190px;
    border-radius: 20px;
    margin-left: 7px;
    margin-top: 3px;
  }

  .companion__name {
    width: auto;
    max-width: 335px;
    order: 1;
    font-size: 30px;
    padding-right: 30px;
    margin-left: 34px;
    margin-bottom: 167px;

    &::before {
      width: 7px;
      height: 7px;
      top: 12px;
      right: 0;
    }
  }

  .roster .ways__item {
    position: relative;
    width: 32px;
    height: 32px;
    background: none;
  }

  .roster .ways__image {
    opacity: 0.3;

    &--air {
      width: 19px;
      height: 21px;
    }

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--bicycle {
      width: 24px;
      height: 21px;
    }

    &--foot {
      width: 20px;
      height: 21px;
    }
  }


  .companion__likes {
    display: flex;
    align-items: center;
    order: 4;
    font-size: 20px;
    padding-left: 0;
    margin: -63px 50px 0 0;
  }

  .companion__likes-box {
    position: static;
    width: 50px;
    height: 50px;
    background-size: 20px 17px;
    margin-right: 7px;
  }

  .companion__likes-image {
    width: 20px;
    height: 17px;
    opacity: 0.6;
  }

  .country {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    order: 5;

    &--demin {
      margin-top: 16px;
      margin-bottom: 13px;
    }

    &--smolov {
      margin-top: 15px;
      margin-bottom: 13px;
    }

    &--rogovaya {
      margin-top: 15px;
      margin-bottom: 14px;
    }
  }

  .companion__hashtag {
    order: 3;
    font-size: 20px;
    padding-right: 0;
    margin-left: 227px;
    margin-top: -153px;
    margin-bottom: 100px;
    width: 262px;
  }

  .companion__text {
    display: none;

    &--country {
      margin-left: 42px;
      padding-left: 15px;
      display: block;
      order: 5;
      margin-top: 14px;
      background-color: #ffffff;
      z-index: 1;
      width: 121px;
    }
  }

  .country__image {
    width: 35px;
    height: 24px;
  }

  .country__name {
    margin-left: 12px;
    margin-right: 29px;
    font-size: 20px;
  }

  .companion__ways {
    flex-direction: column;
    padding: 0;
  }

  .companion__wrapper--level {
    margin-left: 0;
    margin-top: 10px;
  }

  .companion__progressbar {
    display: flex;
    width: 60px;
    height: 60px;
    z-index: 1;
    border-radius: 50%;
  }

  .companion__stroke {
    width: 60px;
    height: 60px;
  }

  .companion__status-lvl {
    display: block;
    padding: 5px 5px 0 5px;
    border-top: 1px solid rgba(68, 68, 68, 0.4);
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: rgba(68, 68, 68, 0.4);
  }

  .companion__btn {
    order: 3;
    width: 148px;
    margin-top: -57px;
    margin-left: 227px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: normal;
    height: 50px;
  }

  .roster__btn {
    padding-left: 43px;
    padding-top: 7px;
    font-size: 20px;
    margin-top: 34px;

    &::before {
      width: 27px;
      height: 27px;
      top: 10px;
      left: 247px;
      background-size: 27px 27px;
    }
  }

  .roster__pagination {
    display: flex;
    padding: 25px 30px 25px 28px;
    background-color: #ffffff;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;

    &::before {
      display: none;
    }
  }

  .pagination__list {
    display: flex;
  }

  .pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #161c35;

    &:hover {
      color: rgba(22, 28, 53, 0.6);
    }

    &:active {
      color: #161c35;
      background-color: #ffd74b;
    }

    &--active {
      color: #161c35;
      background-color: #ffd74b;
    }
  }

  .pagination__button-list {
    width: 63px;
  }
}

@media (min-width: $desktop) {
  .wrapper {
    display: flex;
    padding: 77px 62px 89px 59px;
    justify-content: space-between;
  }

  .compilation {
    order: 2;
    padding: 0;
  }

  .roster {
    order: 1;
    width: 950px;
    padding: 0;
  }

  .roster__item {
    padding: 0 43px 0 0;
    margin-bottom: 30px;

    &::before {
      display: none;
    }
  }

  .companion__wrapper {
    flex-direction: row;
    margin-top: 0;
  }

  .companion__item-wrapper {
    order: 5;
    width: 239px;
    margin-left: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -144px;
  }

  .companion__image-link {
    height: 285px;
  }

  .companion__image {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
    margin: 0;
  }

  .companion__name {
    order: 1;
    margin-left: 60px;
    margin-top: 46px;
    margin-bottom: 209px;
    width: 331px;

    &::before {
      right: auto;
      left: -23px;
    }
  }

  .companion__likes {
    order: 4;
    margin-top: -144px;
    width: 187px;
  }

  .country {
    width: 210px;
    flex-direction: column;
    padding: 0;
    order: 2;
    margin-top: 46px;
    margin-bottom: 111px;
  }

  .country__item {
    margin-bottom: 7px;
  }

  .country__name {
    margin-left: 19px;
  }

  .companion__hashtag {
    width: 100%;
    margin-top: -192px;
    margin-bottom: 48px;
    order: 3;
    margin-left: 341px;
    padding-right: 305px;
  }

  .companion__text {
    display: none;
  }

  .companion__ways {
    flex-direction: row;
  }

  .roster .ways__item {
    margin-right: 2px;
  }

  .companion__btn {
    width: 145px;
    height: 50px;
    margin-left: 344px;
    align-self: center;
    margin-top: -144px;
  }

  .companion__status-number {
    margin-top: 3px;
  }

  .companion__status-lvl {
    padding: 3px 3px 0 3px;
  }

  .roster__btn {
    position: relative;
    padding-left: 0;
    font-size: 20px;
    padding-right: 23px;
    margin-top: 53px;
    padding-top: 9px;

    &::before {
      content: "";
      position: absolute;
      width: 27px;
      height: 27px;
      top: 12px;
      left: 345px;
      background: url("../img/show-more-plus.svg") no-repeat center center;
      background-size: 27px 27px;
    }
  }

  .roster__pagination {
    margin-top: 55px;
    padding-right: 41px;
  }
}
