.search-mate {
  padding: 19px 25px 22px 26px;
  background-color: $color-yellow;
  border-radius: 20px;
}

.search-mate__title {
  margin: 0;
  margin-bottom: 17px;
  max-width: 105px;
  color: $dark-slate-blue;
  font-size: 22px;
  line-height: 22px;
}

.search-mate__list {
  @include list-none();
  margin-bottom: 22px;
}

.search-mate__item {
  padding: 11px 0;

  &:first-child {
    border-top: 1px solid $color-dirty-yellow;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-dirty-yellow;
  }
}

.search-mate__variants {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
}

.search-mate__item--expand {
  .search-mate__variants {
    display: block;
  }

  .search-mate__measure::after {
    transform: rotate(180deg);
  }
}

.search-mate__measure {
  position: relative;
  margin: 0;
  color: $dark-slate-blue;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 4px;
    background-image: url("../img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    transition: opacity 0.3s, transform 0.3s;
  }

  &:hover,
  &:focus {
    color: rgba($dark-slate-blue, 0.6);
    opacity: 0.6;
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);
    opacity: 0.3;
  }
}

.search-mate__group {
  @include list-none();
  margin-top: 14px;
}

.search-mate__label {
  position: relative;
  padding-left: 26px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  cursor: pointer;
  transition: color 0.3s;
}

.search-mate__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: opacity 0.3s;
}

.search-mate__checkbox:checked + .search-mate__label::before {
  //стили для галочки в чекбокс
  background-image: url("../img/icons/tick.svg");
  background-size: 24px 16px;
  background-repeat: no-repeat;
}

.search-mate__label:hover,
.search-mate__label:focus {
  color: rgba($text-dark-grey, 0.6);

  &::before {
    opacity: 0.6;
  }
}

.search-mate__label:active {
  color: rgba($text-dark-grey, 0.3);

  &::before {
    opacity: 0.3;
  }
}

.search-mate__btn {
  width: 100%;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  background-color: $white;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

  &:hover,
  &:focus {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: $white;
  }

  &:active {
    color: rgba($dark-blue, 0.3);
    background-color: $color-dirty-yellow;
  }
}

@include respond-between($tablet, $desktop) {
  .search-mate {
    padding: 34px 35px 38px;
  }

  .search-mate__title {
    max-width: none;
    margin-bottom: 30px;
  }

  .search-mate__item {
    display: flex;
    align-items: center;

    &:first-child {
      padding-top: 34px;
      border-top: 1px solid $color-dirty-yellow;
    }

    &:last-child {
      padding-bottom: 35px;
      border-bottom: 1px solid $color-dirty-yellow;
    }
  }

  .search-mate__measure {
    max-width: 121px;
    width: 100%;

    &::after {
      display: none;
    }
  }

  .search-mate__variants {
    display: block;
    width: 100%;
  }

  .search-mate__group {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .search-mate__wrap {
    flex-basis: 150px;
  }
}

@include respond-above($tablet) {
  .search-mate__title {
    font-size: 30px;
    line-height: 30px;
  }

  .search-mate__measure {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  .search-mate__label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 24px;
      height: 24px;
      top: 1px;
      left: -10px;
    }
  }

  .search-mate__item {
    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .search-mate__btn {
    font-size: 20px;
    line-height: 30px;
    border-radius: 100px;
  }
}

@include respond-above($desktop) {
  .search-mate {
    max-width: 285px;
    width: 100%;
    padding: 40px 41px 47px 48px;
  }

  .search-mate__title {
    margin-bottom: 23px;
  }

  .search-mate__item {
    padding: 8px 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    .search-mate__group {
      padding-left: 10px;

      .search-mate__wrap:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
