.user-list {
  @include list-none;
  width: 100%;
  text-align: center;


  &--top-menu {
    margin-bottom: 50px;
  }
}

.user-list__link {
  color: $dark-blue;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $color-yellow;
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:focus {
    background-color: $color-dark-yellow;
  }

  &:active {
    color: rgba($dark-blue, 0.3);
  }

  &::after {
    display: none;
  }

  &--top-menu {
    max-width: 200px;
    padding: 7px 21px 5px;
  }
}
