$bg-blue-color: #192144;
$dark-blue: #161c35;
$dark-slate-blue: #1d2e5b;
$bg-whisper-color: #edeff6;
$bg-light-whisper: #f3f4f8;
$bg-snuff-color: #e2e5f2;
$bg-light-periwinkle: #dfe3f0;
$bg-periwinkle: #d4d9eb;
$bg-dark-perwinkle: #c8cee8;
$white: #ffffff;
$black: #000000;
$blue-black: #141b3b;
$bg-icon: #121936;
$tablet-bg-dark-blue: #182044;
$desktop-bg-dark-blue: #161c34;

$color-yellow: #ffd74b;
$color-dark-yellow: #ffbd30;
$color-orange: #ff8d30;
$color-dark-orange: #f26926;
$color-light-orange: #ffa530;
$color-dirty-yellow: #f3c72b;
$color-carrot: #ff5c23;
$color-light-rose: #f9eaea;
$color-rose: #f97676;
$color-stone-gray: #808285;
$color-error: #ff0000;

$text-dark-grey: #444444;
$text-light-grey: #d5d5d5;
$text-blue-color: #1d2e5b;
$text-light-blue: #132576;

$border-ghost-color: #cbced9;
$border-pale-gray-color: #f2f2f2;
$border-input: #959bb2;
$border-textarea: #aeb4cb;
$border-checkbox-focus: #5faafc;

$tablet: 768px;
$desktop: 1440px;
